.homepage {
    background-image: url(../../images/Home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.sun {
    position: absolute;
    top: 0;
    scale: 2;
    right: 0%;
}

.planet1 {
    position: relative;
    top: 0;
    scale: 0.8;
    left: 10%;
}
