.homepage {
    background-image: url(../../images/Home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.sun {
    position: absolute;
    top: 0%;
    width: 25%;
    right: 0%;
}
.logo {
    position: absolute;
    top: 0%;
    left: 30%;
    /* transform: translate(-50%); */
    width: 40%;
}

.foreground {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20%;
}

.astronaut {
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.astronaut1 {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 1000px) {
    .foreground {
        bottom: 0;
    }

    .sun {
        top: 0%;
        width: 35%;
        right: 0%;
    }

    .astronaut {
        width: 100%;
    }

    .astronaut1 {
        width: 80%;
        right: -10%;
    }
    .logo {
        top: 30%;
        left: 30%;

        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .foreground {
        bottom: 0;
    }

    .sun {
        top: 28%;
        width: 95%;
        right: 0%;
    }

    .astronaut {
        width: 100%;
    }

    .astronaut1 {
        width: 80%;
        right: -10%;
    }
    .logo {
        top: 30%;
        left: 7%;

        width: 90%;
    }
}
